# ── Banco de Dados (Postgres) ──────────────────────────────────────
POSTGRES_DB=zorde_lab
POSTGRES_USER=zorde
POSTGRES_PASSWORD=zorde_secret

# ── API (NestJS) ────────────────────────────────────────────────────
API_PORT=8080
APP_ENV=production
RESEND_API_KEY=
JWT_SECRET=
JWT_SECRET_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d
SALT_ROUNDS_BCRYPT=10
SERVER_URL=http://localhost:8080
FRONTEND_APP_URL=http://localhost:4200
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
