SERVER_PORT=
SALT_ROUNDS_BCRYPT=
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
API_PORT=
JWT_SECRET=
JWT_SECRET_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
APP_ENV=
RESEND_API_KEY=
SALT_ROUNDS_BCRYPT=
SERVER_URL=